{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>

  {% block pageTitle %}Admin{% endblock %}
  
  {% block pageContent %}
  <script type="text/javascript" src="{% static "js/admin.js" %}"></script>
  
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <table class="table" id="sqlTable" style="border: 5px solid gray">
        <thead>
          <tr>
            <td>ID</td>
            <td>Database</td>
            <td>Relation</td>
            <td>SQL Statement</td>
            <td>Attributes</td>
            <td>Execute</td>
            <td>Delete</td>
          </tr>
        </thead>
        <tbody id="sqlStatements"></tbody>
      </table>
    </div>
  </div>
  
  {% endblock %}

</html>