{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title> HomePage</title>
</head>

<body>
	<h3>CRUD operations on Temporal DataBase</h3>
	<ul>
		<li><h4><a href="/app/create/">CREATE</a></h4></li>
		<li><h4><a href="/app/retrieve/">RETRIEVE</a></h4></li>
		<li><h4><a href="/app/update/">UPDATE</a></h4></li>
		<li><h4><a href="/app/delete/">DELETE</a></h4></li>
	</ul>
	<h3>Other Operations</h3>
	<ul>
		<li><h4><a href="/app/display_db/">Display All Databases</a></h4></li>
	</ul>
	<h3>Other Links</h3>
	<ul>
		<li><h4><a href="/app/abstract">Project Abstract</a></h4></li>
		<li><h4><a href="/app/developers">Developers</a></h4></li>
	</ul>
</body>

</html>