{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>

  {% block pageTitle %}Update Operation{% endblock %}
  
  {% block pageContent %}
  <script type="text/javascript" src="{% static "js/update.js" %}"></script>
  
  <div class="row">
    <div class="col-md-offset-2 col-md-8" style="border: 5px solid gray" id="AllRelContainer">
      <form>
        {% csrf_token %}
        <br>
        <div class="form-group" id="dbDiv">
          <label for="db_name">Select DataBase:</label>
          <select class="form-control" id="select_db"></select>
          <br>
        </div>
        <hr>
        <div class="form-group" id="relDiv">
          <b>Select Relation</b>
          <select class="form-control" id="1"></select>
          <br>
          <form> 
            Attributes: <input type="text" name="attrList" id="attrList1"><br></p>
          </form>
        </div>
      </form>
      <input type="button" value="Add More Relations"  onClick="AddRel()">
      <br>
      <br>
    </div>
    
    <div class = "row">
      <div class="col-md-offset-2 col-md-8"  id="FromWhereWrapper">
        <br>
        <br>
        From which relations you want to use? 
        <input type = "button" value="Choose Relations" onClick="FromCondition()">
        <table class='table'>
          <tbody id='FromWrapper'>
          </tbody>
        </table>
        <p>Specify the conditions: </p>
        <input type="text" name="" id="WhereWrapper"  class='form-control'>    
      </div>
    </div>
    
    <div class = 'row'>
      <div class="col-md-offset-2 col-md-8"  id="SubmitButtonWrapper">
        <br>
        <br>
        <input type="button" value="Submit"  onClick="getAttrList()">
        <!-- <input type="button" value="Submit"  onClick="Submit()"> -->
      </div>
    </div>
        

  {% endblock %}

</html>